body {
    background-color: blue;
    color: gold;
}

.title {
    font-size: 40px;
}

.big {
    font-size: 25px;
}

.bryant:hover {
    width: 900px;
    height: 500px;
}

.bryant {
    transition: height 3s, width 3s;
}

.duncan:hover {
    width: 900px;
    height: 500px;
}

.duncan {
    transition: height 3s, width 3s;
}

.johnson:hover {
    width: 900px;
    height: 500px;
}

.johnson {
    transition: height 3s, width 3s;
}

.neal:hover {
    width: 900px;
    height: 500px;
}

.neal {
    transition: height 3s, width 3s;
}

.kareem:hover {
    width: 900px;
    height: 500px;
}

.kareem {
    transition: height 3s, width 3s;
}

a {
    color: white;
}

footer h3 {
    color: red;
}