ul {
    list-style: none;
    display: inline-flex;
}

body {
    background-color: #92aa58;
    text-align: center;
}

a {
    border: 7px groove #baaf5d;
    text-decoration: none;
    background-color: #baaf5d;
    color: white;
}

li {
    margin: 10px;
    font-size: 24px;
}

.featured {
    font-size: 64px;
}